<nav class="flex items-center gap-2 mb-6 text-xs text-[#104D73]/80">
  <a routerLink="/" class="hover:text-[#F2CB07] transition-colors">Inicio</a>
  <span class="material-symbols-outlined text-[10px]">chevron_right</span>

  <!-- CATEGORÍA -->
  <a [routerLink]="categoryPath" class="hover:text-[#F2CB07] transition-colors">
    {{ category }}
  </a>

  <!-- PRODUCTO -->
  @if (productName) {
  <span class="material-symbols-outlined text-[10px]">chevron_right</span>

  <span class="text-[#104D73] font-bold truncate">
    {{ productName }}
  </span>
  }
</nav>