<div class="header-top-bar">
    <div class="header-container">
        <div class="top-bar-content">
            <span class="top-bar-text"></span>
            <div class="top-bar-links">
                <a routerLink="/sucursales"><i class="fas fa-store"></i> Sucursales</a>
                <a routerLink="/contact"><i class="fas fa-headset"></i> Ayuda</a>
                <a routerLink="/tracking"><i class="fas fa-map-marker-alt"></i> Seguimiento</a>
            </div>
        </div>
    </div>
</div>