<div class="header-center">
    <form class="search-container" (submit)="performSearch()" role="search" autocomplete="off">
        <div class="search-input-wrapper">
            <button type="submit" class="search-submit" aria-label="Buscar">
                <i class="fas fa-search"></i>
            </button>
            <input type="search" class="search-input" [(ngModel)]="searchQuery" name="search" placeholder="Buscar..."
                aria-label="Buscar productos">
        </div>
    </form>
</div>